{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">

    <div class="card shadow" style="width: 450px;">

        <div class="card-header text-center">
            <h4>Create Account</h4>
        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for field in form %}

                    <div class="mb-2">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>

                {% endfor %}

                <button class="btn btn-success w-100 mt-2">
                    Register
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}